.submit{
  font-family:'Trebuchet MS';
  background-color: aliceblue;
  border: 2px solid rgb(6, 117, 142);

}

.GuessIn{
  font-family:'Trebuchet MS';
  position: fixed;
  top: 45%;
  left: 52%;
  margin-top: -100px;
  margin-left: -170px;
  
}

.form{
  position: fixed;
  top: 50%;
  bottom: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -130px;
}


.guess{
   border: 2px solid rgb(46, 186, 217);
}